* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: wheat !important;
}
.card{
background-color: white !important;
}
main{
  flex: 1 0 auto;
}
p{
  text-indent: 10%;
}
img{
  box-shadow: 0 0 20px black;
}
